$main-color: #0f1f32;

.login-container {
  height: 100vh;
  position: relative;
}


.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center; 
  background-repeat: no-repeat;
  z-index: -1;
  
  background-image: url('../../../assets/images/test1.jpeg');
}

.logo-container {
  display: flex;
  justify-content: center;
  margin-bottom: 5px; 
  transform: translate(0px, 0px); 
}

.login-box {
  width: 330px;
  padding: 35px;
  border-radius: 10px;
  text-align: center;
  position: relative; 
  transform: translate(580px, 235px); 
}


.login-title {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #333;
}

.form-group {
  margin-bottom: 15px;

}

input[type="text"],
input[type="password"] {
  width: calc(100% - 50px);
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
  border-color: #0f1f32
}

.password-container {
  position: relative;
}

.password-input {
  position: relative;
}

.password-toggle {
  position: absolute;
  top: 50%;
  right: 30px;
  transform: translateY(-50%);
  cursor: pointer;
}

.password-toggle i {
  font-size: 18px;
  color: #ccc;
  transition: color 0.3s ease;
}

.password-toggle i:hover {
  color: #007bff;
}

.login-button {
  width: calc(100% - 50px);
  padding: 10px;
  background-color: $main-color;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-button:hover {
  background-color: #0f1f32;
}
