<div>
    <div style="display: flex;">
        <div style="display: flex; flex-direction: column; justify-content: center; align-items: center; flex: 1; padding: 10px;">
            <img [src]="log?.capturedImage" style="max-width: 70vh; max-height: 50vh; object-fit: contain;" alt="Captured Image">
        </div>
        
      <div style="flex: 1;">
        <p-table [value]="[log]" class="center-table">
            <ng-template pTemplate="body" let-log>
                <tr>
                    <td class="info-label label-cell">Event Type:</td>
                    <td class="value-cell">{{ log.eventType }}</td>
                </tr>
                <tr>
                    <td class="info-label">Captured Time:</td>
                    <td>{{ log.capturedTime | date: 'medium' }}</td>
                </tr>
                <tr>
                    <td class="info-label">Area & Location:</td>
                    <td>{{ log.areas }} - {{ log.location }}</td>
                  </tr>
                <tr>
                    <td class="info-label">Confidence & Safezone:</td>
                    <td>{{ log.confidence }}% &nbsp; - &nbsp; {{ log.safezone }} </td>
                </tr>
                <tr *ngIf="log.userId != null">
                    <td class="info-label">User & Action Time:</td>
                    <td>{{ log.userId | user : userList }} &nbsp; -  {{ log.actionTime | date: 'dd/MM/yyyy HH:mm:ss' }}</td>
                </tr>
            </ng-template>
        </p-table>
        <br>
        <div class="info-row" >
            <label class="info-label">Action Status:</label>
            <div class="status-options">
                <div class="status-option" style="background-color: #FF6145;" [ngClass]="{'selected': log.actionStatus === 'Alert'}" (click)="log.actionStatus = 'Alert'">
                    Alert
                </div>
                <div class="status-option" style="background-color: #FFBE45;" [ngClass]="{'selected': log.actionStatus === 'Progress'}" (click)="log.actionStatus = 'Progress'">
                    Progress
                </div>
                <div class="status-option" style="background-color: #9CFF45;" [ngClass]="{'selected': log.actionStatus === 'Stable'}" (click)="log.actionStatus = 'Stable'">
                    Stable
                </div>
                
            </div>
        </div>
        <div class="info-row" *ngIf="log.actionStatus != 'Alert'">
          <label class="info-label">Action Taken:</label>
          <br>
            <textarea pInputTextarea [(ngModel)]="log.actionTaken" rows="3"></textarea>
        </div> 
        <div class="info-row" *ngIf="log.actionStatus != 'Alert'">
          <label class="info-label">Details:</label>
          <br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;
          <textarea pInputTextarea [(ngModel)]="log.details" rows="3" [ngClass]="{'red-border': chosenStable}" ></textarea>
        </div>
        
        <div style="text-align: right;">
            <button pButton type="button" label="Update" (click)="update()" style="margin-right: 15px;"></button>
            <button pButton type="button" label="Close" (click)="closeDialog()" class="p-button-secondary"></button>
        </div>
    </div>
    
  </div>
  